@* TODO: There is surely a better way to just send the layout, but this works for now *@
@*{ Index.cshtml
        Purpose: Layout for TableTopTally's Angular app

        Revision History:
            Drew Matheson, 2014.5.1: Created
}*@

<!DOCTYPE html>

<html lang="en" ng-app="tableTopTally">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title>TableTop Tally</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">TableTop Tally</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="games">Games</a>
                    </li>

                    <li>
                        <p>Sessions</p>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="Account/Register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div ng-view></div>

        <hr />
        <footer>
            <span class="pull-right">
                @Html.ActionLink("API", "Index", "Help", new
           {
               area = "",
               angular = true
           }, null)
            </span>
            <p tt-app-version></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
</body>
</html>