@*{ Index.cshtml
        Purpose: Layout for TableTopTally's Angular app
}*@

<!DOCTYPE html>

<html lang="en" ng-app="tableTopTally" ng-strict-di ng-controller="layoutController">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title ng-bind="layout.title()">Tabletop Tally</title>
    @Styles.Render("~/Content/css")
</head>

<body>
<div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tt-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img src="~/favicon.ico" alt="TableTopTally Logo" height="20"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="games">Games</a>
                    </li>
                    <li class="disabled">
                        <a href="sessions">Sessions</a>
                    </li>
                    <li class="disabled">
                        <a href="groups">Groups</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="disabled">
                        <a href="Account/Register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div ng-view></div>

        <hr />
        <footer>
            <span class="pull-right">
                @*
                    @Html.ActionLink("API", "Index", "Help", new
                    {
                        area = "",
                        angular = true
                    }, new { target = "_self" })
                *@
            </span>
            <p tt-app-version></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    <script type="text/javascript">
        $(document).on('click', 'a', function()
        {
            $('.navbar-collapse.in').collapse('hide');
        });
    </script>
</body>
</html>